######################################################################
# Build Tools

.gradle
/build/

target/

var/

######################################################################
# IDE
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

######################################################################
# Others
*.log
*.xml.versionsBackup
*.swp