[Unit]
Description=wechat-chatgpt - wechat and openai server
Documentation=https://blog.cmyang.cn
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=simple
User=root
PIDFile=/var/run/wechat-chatgpt.pid
ExecStart=/bin/java -Xms64m -Xmx128m -XX:+HeapDumpOnOutOfMemoryError -XX:+UseG1GC -jar /opt/wechat-chatgpt.jar
ExecReload=/bin/sh -c "/bin/kill -s HUP $(/bin/cat /var/run/wechat-chatgpt.pid)"
ExecStop=/bin/sh -c "/bin/kill -s TERM $(/bin/cat /var/run/wechat-chatgpt.pid)"

[Install]
WantedBy=multi-user.target